
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Promisekeeper</a>
      </div>
      <ul class="nav navbar-nav">
        <li>
          <a class='item' routerLinkActive='active' 
                routerLink="/promise/add" >Make A Promise</a>
        </li>
        <li>
          <a class='nav nav-item' routerLinkActive='active' 
            routerLink="/promise/list">Promises</a>
        </li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a *ngIf='(currentUser | async)'><span class="glyphicon glyphicon-user"></span> {{currentUser | async }}</a>
        </li>
        <li>
          <a *ngIf='(currentUser | async) else loginlink' class="item" routerLinkActive='active' routerLink="/logout">Log out</a>    
          <ng-template #loginlink>
            <a class="item" routerLinkActive='active' routerLink="/login">Log in</a>
          </ng-template>
        </li>
      </ul>
    </div>
    
  </nav>
  <router-outlet></router-outlet>        

<!--div>
    <app-add-promise></app-add-promise>
    <app-promise-list></app-promise-list>
</div -->
